{% extends 'base.html' %}
{% block content %}
  <h1>Menu</h1>

  {% for category, items in categorized_menu %}
    <h2>{{ category.title }}</h2>
    <ul>
      {% for item in items %}
        <li>
          <strong><a href="{% url 'menu_item_detail' item.id %}">{{ item.title }}</a></strong> – ${{ item.price }}<br>
          <em>{{ item.featured|yesno:"⭐️ Featured," }}</em><br>
          {{ item.description|default:"No description." }}
        </li><br>
      {% endfor %}
    </ul>
  {% empty %}
    <p>No categories or items available.</p>
  {% endfor %}
{% endblock %}
